<% Category.all.each do |category| %>
  <div class="menu_category">
    <h2><span><%= category.name %></span></h2>
    <p><%= image_tag "#{category.name.downcase}.jpg", size: '328x156' %></p>
    <ul>
      <% category.items.each do |item| %>
        <li>
          <span>$<%= item.price %></span>
          <%= item.name %>
          <p><%= item.description %></p>
          <% if logged_in? %>
            <p><%= link_to "Add to Order", new_order_item_url(item_id: item.id) %></p>
          <% end %>
          
        </li>
      <% end %>
    </ul>
  </div>
<% end %>