<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.select :hour, 4..11 %>
  </div>
  <div class="field">
    <%= f.label :party_size %><br />
    <%= f.select :party_size, 2..20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
