<p>
  <b>Date:</b>
  <%= @reservation.date %>
</p>

<p>
  <b>Hour:</b>
  <%= @reservation.hour %>
</p>

<p>
  <b>User:</b>
  <%= @reservation.user_id %>
</p>

<p>
  <b>Party size:</b>
  <%= @reservation.party_size %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
