<%= form_for(@order_item) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :qty, "How many do you want?" %><br />
    <%= f.select :qty, 1..5 %>
  </div>
  <div class="field">
    <%= f.label :note, "Any special instructions?" %><br />
    <%= f.text_area :note, cols: 40, rows: 3 %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
